.project_card {
    display: flex;
    flex-direction: column;
    padding: .7em;
    border-radius: 12px;
    width: 17%;
    margin: .5em;
    box-shadow: 0 4px 20px #8a939e70;
}

.project_card img {
    border-radius: calc(16px - 11px);
    width: 100%;
    height: auto;
}

.project_card h4 {
    /* color: #0b6dff; */
    margin: .2em .5em .5em 0;
    padding: .4em .4em .4em 0;
    font-size: 1.3em;
}

.project_card p {
    color: #7a7a7a;
    margin-bottom: 1em;
}

.project_card p span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span {
    border-radius: Calc(16px - 11px);
    padding: .3em .7em;
}

.category_text {
    color: #fff;
    font-weight: bold;
    margin: .7em 0;
}

.category_text .infrastructure {
    background-color: #a0e7e5;
}

.category_text .development {
    background-color: #b4f8c8;
}

.category_text .design {
    background-color: #ffaebc;
}

.category_text .planning {
    background-color: #fbe7c6;
}

.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_card_actions  a,
.project_card_actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: .9em;
    cursor: pointer;
    transition: 200ms;
}

.project_card_actions a{
    background-color: #0b6dff;
    padding: .6em 1em;
    font-weight: 700;
}

.project_card_actions a:hover {
    background-color: #04367e;
}

.project_card_actions button {
    background-color: #ff3333;
    padding: .7em;
}

.project_card_actions button:hover {
    background-color: #b22323;
}

.project_card_actions a svg {
    margin-right: .5em;
}

@media only screen and (max-width: 768px) {
    .project_card {
        width: 100%;      
    }
}