.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .6em;
}

.form_control input {
    padding: .7em;
    border: 2px solid #8a8a8a;
    border-radius: 5px;
    color: #8a8a8a;
    transition: 200ms;
}

.form_control input:focus {
    outline: none !important;
    border-color: #0b6dff;
}

/* Remove arrows from number input */
.form_control input[type=number] {
    -webkit-appearance: none; /* webkit browsers */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* standard */
}
