.delete_button {
    display: flex;
}

.delete_button .btn {
    display: flex;
    align-items: center;
    background-color: #ff3333;
    cursor: pointer;
    transition: 200ms;
}

.delete_button .btn:hover {
    background-color: #b22323;
}