.footer {
    background-color: #fff;
    color: #8a8a8a;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 1em 1em;
    transition: 200ms;
}

.social_list li:hover {
    color: #0b6dff;
}

.social_list li:active {
    color: #04367e;
}

.social_list a:visited {
    text-decoration: none;
    color: inherit;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 1em;
}

.copy_right span{
    font-weight: 500;
}