.message {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;
    border: 1px solid #000;
    border-radius:  15px;
    font-weight: 500;
}

.success {
    border-color: #27ae60;
    color: #fff; 
    background-color:#2ecc71;
}

.warning {
    background-color: #f39c12;
    color: #fff;
    border: 1px solid #d35400;
}

.error {
    border-color: #c0392b;
    color: #fff ;
    background-color:#e74c3c;
}

@media only screen and (max-width: 768px) {
    .message {
        width: 90%;
    }
}