.navbar {
    /* display: flex;
    justify-content: space-between; */
    background-color: #0b6dff;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 2em;
    font-weight: 500;
}

.item a {
    color: #fff;
    text-decoration: none;
    transition: 200ms;
}

.item a:hover {
    color: #04367e;
}

.logo {
    width: 40%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .list {
        width: 100%;
        justify-content: space-between;
        margin: 0.5em 1em;
    }

    .list li {
        margin-right: 0;
    }

    .item a {
        white-space: nowrap;
    }

    .logo {
        display: none;
    }
}