* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; 
}

html, body, #root {
  height: 100%;
}

/* Scrollbar for webkit browsers*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f7f7f7;
  }

  ::-webkit-scrollbar-thumb {
    background: #0b6dff;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #04367e;
    transition: 200ms;
  }
}